.left__nav_wrapper{
    background: $Gray;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 10px;
    height: 100%;
}
.icons{
    font-size: 18px;
    color: $Blue;
    margin-right: 10px;
}
.left__nav-block{
    margin-left: 20px;
    margin-top: 20px;
    .menu__li{
        font-family: $Nav_1;
        color: $Black;
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 20px;
        transition: all .3s linear;
        cursor: pointer;
        z-index: 20;
        position: relative;
        &:hover{
            color: $Blue;
        }
        &:hover .li__overlay{
            display: block;
        }
    }
}
.li__overlay{
    display: none;
    content: '';
    background: #fff;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    &::before{
        content: '';
        background: #2196F3;
        display: block;
        width: 4px;
        height: 100%;
        margin-left: -30px;
    }
    &::after{
        content: '';
        background: #fff;
        display: block;
        width: 54px;
        height: 100%;
        margin-left: -17px;
        position: absolute;
        top: 0;
        left: -8px;
    }
}
.arr_right{
    position: absolute;
    top: 0;
    right: 0;
    right: 12px;
    font-size: 22px;
}
.drop_ul{
    display: none;
    margin-left: 20px;
    margin-top: 20px;
    &.active{
        display: block;
    }
}
.drop_li{
    font-family: $Nav_2;
    color: $Black;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
    transition: all .3s linear;
    cursor: pointer;
    z-index: 20;
    position: relative;
    &:hover{
        color: $Blue;
    }
    &:hover .drop_li__overlay{
        display: block;
    }
}
.drop_li__overlay{
    display: none;
    content: '';
    background: #fff;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0px;
    top: -10px;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    &::before{
        content: '';
        background: #2196F3;
        display: block;
        width: 4px;
        height: 100%;
        margin-left: -50px;
    }
    &::after{
        content: '';
        background: #fff;
        display: block;
        width: 54px;
        height: 100%;
        margin-left: -17px;
        position: absolute;
        top: 0;
        left: -28px;
    }
}
.notfications_out{
    position: absolute;
    top: -3px;
    right: 40px;
    background: $Red;
    padding: 4px;
    border-radius: 50%;
    color: $White;
}
.divider{
    content: '';
    width: 100%;
    height: 3px;
    background: #d2d0d0;
    display: block;
    margin: 20px 0;
}
