@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/latoBold/LatoBold.eot');
    src: url('../fonts/latoBold/LatoBold.eot') format('embedded-opentype'),
         url('../fonts/latoBold/LatoBold.woff2') format('woff2'),
         url('../fonts/latoBold/LatoBold.woff') format('woff'),
         url('../fonts/latoBold/LatoBold.ttf') format('truetype'),
         url('../fonts/latoBold/LatoBold.svg#LatoBold') format('svg');
}
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/latoRegular/LatoRegular.eot');
    src: url('../fonts/latoRegular/LatoRegular.eot') format('embedded-opentype'),
         url('../fonts/latoRegular/LatoRegular.woff2') format('woff2'),
         url('../fonts/latoRegular/LatoRegular.woff') format('woff'),
         url('../fonts/latoRegular/LatoRegular.ttf') format('truetype'),
         url('../fonts/latoRegular/LatoRegular.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/robotoBold/RobotoBold.eot');
    src: url('../fonts/robotoBold/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/robotoBold/RobotoBold.woff2') format('woff2'),
         url('../fonts/robotoBold/RobotoBold.woff') format('woff'),
         url('../fonts/robotoBold/RobotoBold.ttf') format('truetype'),
         url('../fonts/robotoBold/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/robotoRegular/RobotoRegular.eot');
    src: url('../fonts/robotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/robotoRegular/RobotoRegular.woff2') format('woff2'),
         url('../fonts/robotoRegular/RobotoRegular.woff') format('woff'),
         url('../fonts/robotoRegular/RobotoRegular.ttf') format('truetype'),
         url('../fonts/robotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
